body {
    background: rgb(2, 0, 27);
    margin: 0;
}

header {
    background-color: #6666ff;
    padding: 20px;
    border-bottom: 1px solid black;
}

#heading-text {
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'lemon', serif;
    font-size: 20px;
    text-decoration: none;
}

#heading-text:hover {
    color: aliceblue;
}

#logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 20px;
}
#logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#header-container {
    display: flex;
    align-items: center;
    height: 100%;
}
#categories{
    margin-left: auto;
}

#categories a{
    text-decoration: none;
    color: black;
    font-family: 'Salsa', cursive;
    margin: 10px;
    font-size: 19px;
}
#category:hover{
    color: aliceblue;
}
.search-container {
    display: flex;
    width: 350px;
    margin-left: auto;


}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    background-color: rgb(1, 0, 14);
    color: white;
    border: 1px solid #ffffff;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ffffff;
    color: black;
}
#sidebar{
    background-color: #6666ff;
    height: 210vh;
    width: 3%;
    margin: 0;
    text-align: center;
}
#sidebar img{
    height: 2rem;
    width: 2rem;
    margin-top: 15px ;
}
#sidebar img:hover{
    background-color: #2424521b;
}
#body-content{
    display: flex;
}

#all-categories{
    margin: 0 25px 0 25px;
}
#all-categories h2{
   font-family: 'Roboto Condensed', serif;
   color: aliceblue;
   font-size: 18px;
}
#all-categories img{
    height: 200px;
    width: 350px;
    margin-right: 10px;
    background-color: #6666ff71;
}
.slider{
   width: 800px;
   height: 500px;
   border-radius: 10px;
   overflow: hidden;
   margin-left: 17rem;
   margin-right: auto;
 }
 
 .slides{
   width: 500%;
   height: 500px;
   display: flex;
   margin-top: 25px;
 }
 
 .slides input{
   display: none;
 }
 
 .slide{
   width: 20%;
   transition: 2s;
 }
 
 .slide img{
   width: fit-content;
   height: 500px;
 }
 
 .navigation-manual{
   position: absolute;
   width: 800px;
   margin-top: -40px;
   display: flex;
   justify-content: center;
 }
 
 .manual-btn{
   border: 2px solid #40D3DC;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
 }
 
 .manual-btn:not(:last-child){
   margin-right: 40px;
 }
 
 .manual-btn:hover{
   background: #40D3DC;
 }
 
 #radio1:checked ~ .first{
   margin-left: 0;
 }
 
 #radio2:checked ~ .first{
   margin-left: -20%;
 }
 
 #radio3:checked ~ .first{
   margin-left: -40%;
 }
 
 #radio4:checked ~ .first{
   margin-left: -60%;
 }

 .navigation-auto{
   position: absolute;
   display: flex;
   width: 800px;
   justify-content: center;
   margin-top: 460px;
 }
 
 .navigation-auto div{
   border: 2px solid #40D3DC;
   padding: 5px;
   border-radius: 10px;
   transition: 1s;
 }
 
 .navigation-auto div:not(:last-child){
   margin-right: 40px;
 }
 
 #radio1:checked ~ .navigation-auto .auto-btn1{
   background: #40D3DC;
 }
 
 #radio2:checked ~ .navigation-auto .auto-btn2{
   background: #40D3DC;
 }
 
 #radio3:checked ~ .navigation-auto .auto-btn3{
   background: #40D3DC;
 }
 #main{
   display: flex;
   flex-direction: column;
   align-items: center;
}
