body {
    background: rgb(1, 0, 14);
    margin: 0;
}

header {
    background-color: #6666ff;
    padding: 20px;
    border-bottom: 1px solid black;
}

#heading-text {
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'lemon', serif;
    font-size: 20px;
    text-decoration: none;
}

#heading-text:hover {
    color: aliceblue;
}

#logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 20px;
}
#logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#header-container {
    display: flex;
    align-items: center;
    height: 100%;
}
#categories{
    margin-left: auto;
}

#categories a{
    text-decoration: none;
    color: black;
    font-family: 'Salsa', cursive;
    margin: 10px;
    font-size: 19px;
}
#category:hover{
    color: aliceblue;
}
.search-container {
    display: flex;
    width: 350px;
    margin-left: auto;


}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    background-color: rgb(1, 0, 14);
    color: white;
    border: 1px solid #ffffff;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ffffff;
    color: black;
}
#sidebar{
    background-color: #6666ff;
    height: 100vh;
    width: 3%;
    margin: 0;
    text-align: center;
}
#sidebar img{
    height: 2rem;
    width: 2rem;
    margin-top: 15px ;
}
#sidebar img:hover{
    background-color: #2424521b;
}
#body-content{
    display: flex;
}
#all-categories{
    margin: 0 25px 0 25px;
}
#all-categories h2{
   font-family: 'Roboto Condensed', serif;
   color: aliceblue;
   font-size: 18px;
}
